body {
	font-family: 'Pixelify Sans', cursive;
	height: 100%;
}

.home-page-button {
	font-size: 64px;
	color: rgb(255, 255, 255);
}

#helpButton {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	border-width: 4px;
	box-sizing: border-box;
}

#homepage-button-grid {
	margin-top: 200px;
	margin-bottom: 200px;
}

#p5-canvas-homepage-div {
	z-index: -21;
	position: absolute;
	top: 0;
	left: 0;
}

.help-modal-title {
	color: white;
}

.help-modal-body {
	color: white;
}